ul {
  list-style-type: none;
  margin-top: 0.2em;
  padding-left: 0;
  color:rgb(32, 47, 117);
  font-size: 1em;
  font-weight: bold;
}
li{
  display: inline-block;
  padding: 0px 20px 0 0; 
}
.SynonymsTitle {
  color:rgb(32, 47, 117);
  font-size:1.2em;
}
